{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ annonce.aTitre }}
                    <small>de {{ annonce.getAuser}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src={{ annonce.aImage }} alt="">
            </div>

            <div class="col-md-4">
                <h3>Mail : </h3>
                <p>{{ annonce.getAuser.getEmail()}} <button href="mailto:{{ annonce.getAuser.getEmail()}}" type="button" class="btn sm btn-primary"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button></p>
                <h3>Téléphone : </h3>
                <p>{% if annonce.aTel ==0 %}Non communiqué{% else %}{{annonce.aTel}}{% endif %}</p>
            </div>

        </div>
        <!-- /.row -->
        </div>
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre </th>
                <td></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.aDescription }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.aPrix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td></td>
            </tr>
            <tr>
                <th>Vendeur</th>
                <td>{% if annonce.aProfessionnel %}Professionnel{% else %}Particulier{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{% if annonce.aType %}Offre{% else %}Demande{% endif %}</td>
            </tr>
            <tr>
                <th>Contact</th>
            </tr>
                
                <td></td>
                <th>Mail </th>
                <td>{{ annonce.getAuser.getEmail()}}</td>
                <th> Telephone </th>
                <td></td>


            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'id': annonce.aId }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
