{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Aid</th>
                <td>{{ annonce.aId }}</td>
            </tr>
            <tr>
                <th>Atitre</th>
                <td>{{ annonce.aTitre }}</td>
            </tr>
            <tr>
                <th>Adescription</th>
                <td>{{ annonce.aDescription }}</td>
            </tr>
            <tr>
                <th>Aprix</th>
                <td>{{ annonce.aPrix }}</td>
            </tr>
            <tr>
                <th>Aimage</th>
                <td>{{ annonce.aImage }}</td>
            </tr>
            <tr>
                <th>Aprofessionnel</th>
                <td>{% if annonce.aProfessionnel %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Atype</th>
                <td>{% if annonce.aType %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'id': annonce.aId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
