{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Titre </th>
                <td>{{ annonce.aTitre }}</td>
            </tr>
              <tr>
                <th>Categorie</th>
                <td>{{annonce.aNomcat}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.aDescription }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.aPrix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ annonce.aImage }}</td>
            </tr>
            <tr>
                <th>Vendeur</th>
                <td>{% if annonce.aProfessionnel %}Professionnel{% else %}Particulier{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{% if annonce.aType %}Offre{% else %}Demande{% endif %}</td>
            </tr>

            <tr>
                <th>Ville</th>
                <td>{{annonce.aville}}</td>
            </tr>
            <tr>
                <th>Contact</th>
            </tr>
                
                <td>{{ annonce.getAuser}}</td>
                <th>Mail </th>
                <td>{{ annonce.getAuser.getEmail()}}</td>
                <th> Telephone </th>
                <td>{% if annonce.aTel ==0 %}Non communiqué{% else %}{{annonce.aTel}}{% endif %}</td>


            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'id': annonce.aId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
