{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie list</h1>

    <table>
        <thead>
            <tr>
                <th>Catnomcat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.catNomcat }) }}">{{ categorie.catNomcat }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categorie_show', { 'id': categorie.catNomcat }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categorie_edit', { 'id': categorie.catNomcat }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
